* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(4, 20, 29);
  color: white;
}
.conteudo {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: #322e5a;
  text-align: center;
  position: relative;
  margin-top: 30px;
  border-radius: 10px;
  border: rgb(173, 182, 189) 5px solid;
}
.titulo {
  align-items: center;
  margin: 5px 0 10px 0;
}

#abrirCadastro {
  position: absolute;
  top: 8px;
  right: 70px;
  width: 30px;
  height: 30px;
  font-size: 25px;
}

#abrirLogin {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
}

#janelaLogin,
#janelaCadastro,
#janelaEditar {
  z-index: 2;
  margin-top: 50px;
  padding-top: 40px;
  background-color: #928cd4;
  width: 250px;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
}

.btnFechar {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 3px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.btns {
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
  height: 35px;
  padding-left: 5px;
  width: 160px;
}

.dados {
  display: flex;
  align-content: center;
  justify-content: center;
}

.btnEditar,
.btnApagar {
  width: 60px;
  height: 25px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(150, 226, 182);
  border: none;
}

.Pagou {
  background-color: rgb(51, 172, 51);
}
.Não {
  background-color: rgb(236, 70, 70);
}

.dados {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cliente {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  background-color: rgb(79, 84, 160);
  margin: 5px;
  border: 1px solid white;
  border-radius: 10px;
}

.nomeClientes {
  background-color: rgb(32, 32, 54);
  top: 0;
  left: 0;
  width: 144px;
  border-radius: 9px 9px 0px 0px;
}

#fundoJanelas {
  top: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

#btnLogout {
  position: absolute;
  left: 8px;
  top: 8px;
}
